<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="/"><img src="/images/futmanager_logo.png" alt="Logo"></a>
            <div>
                <nav> 
                        <a href="/">Inicio</a>
                        <a href="proximos.html">Próximos Eventos</a>
                        <a href="pasados.html">Eventos Pasados</a>
                        <a href="registro.html">Registro</a>
                        <a href="/login">Ingresar</a>  
                </nav>
            </div>
            
            </header>


            <footer>
             <div> 
            <a href="/"><img src="/images/futmanager_logo.png" alt="Logo"></a>    
            <div class="redes">
                <p><img src="" alt="Instagram">Instagram</p>
                <p><img src="" alt="Linkedin">Linkedin</p>
                <p><img src="" alt="Facebook">Facebook</p>
            </div>

        </div>
    </body>
</html>
