<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>FutManager</title>
</head>
<body>
    <header>
    <img src="/images/futmanager_logo.png" alt="Logo">
    <div>
        <nav> 
                <a href="index.html">Inicio</a>
                <a href="proximos.html">Próximos Eventos</a>
                <a href="pasados.html">Eventos Pasados</a>
                <a href="registro.html">Registro</a>
        </nav>
        <input class="navegador" type="text" >
    </div>
    </header>
<section>
    <!-- CUERPO -->
</section>
    <footer>
        <img src="/images/futmanager_logo.png" alt="Logo">
    <div>
        <a href="index.html">Inicio</a>
        <a href="proximos.html">Próximos Eventos</a>
        <a href="pasados.html">Eventos Pasados</a>
        <a href="registro.html">Registro</a>    
    </div>    
    <div class="redes">
        <p><img src="" alt="Instagram">Instagram</p>
        <p><img src="" alt="Linkedin">Linkedin</p>
        <p><img src="" alt="Facebook">Facebook</p>
    </div>
    </footer>
    </body>
</html>