<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>FutManager</title>
</head>
<body>
    <!-- --------------------HEADER------------------ -->
    <header>
    <a href="/"><img src="/images/futmanager_logo.png" alt="Logo"></a>
    <div>
        <nav> 
            <a href="/">Inicio</a>
            <a href="/producto">Jugadores</a>
            <a href="/nosotros">Sobre Nosotros</a>
            <a href="/formulario">Registro</a>
            <a href="/login">Ingresar</a>  
        </nav>
    </div>
    <input class="navegador" type="text" >
    </header>
<div id="noticias">
    <a id="image" href="/"><img src="/images/fichajes1.jpg" alt="Noticias" width="80%" height="80%"></a>
</div>
<div id="fichajes">
  <div>
<a href="/"><img src="/images/kane.jpg" alt="Noticias" width="50%" height="50%"></a>
<p></p> </div>
    <div>
    <a href="/"><img src="/images/pogba.jpg" alt="Fichaje2" width="50%" height="50%"></a>
    <p></p>
    </div>
    <div>
            <a href="/"><img src="/images/mbape.jpg" alt="fichaje3" width="50%" height="50%"></a>
            <p></p></div>
</div>

    <!-- ---------------------FOOTER--------------------------- -->
    <footer>
    <a href="/"><img src="/images/futmanager_logo.png" alt="Logo"></a>  
    <div class="redes">
        <p><img src="/images/instagram.png" alt="Instagram" width="20px" height="20px">Instagram</p>
        <p><img src="/images/linkedin.jpg" alt="Linkedin" width="20px" height="20px">Linkedin</p>
        <p><img src="/images/facebook.png" alt="Facebook" width="20px" height="20px">Facebook</p>
    </div>
    </footer>
    </body>
</html>