<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>FutManager</title>
</head>
<body>
    <!-- --------------------HEADER------------------ -->
    <header>
        <%- include("parcial/head.ejs")%>
    <!-- <a href="/"><img src="/images/futmanager_logo.png" alt="Logo"></a>
    <div>
        <nav> 
            <a href="/">Inicio</a>
            <a href="/producto">Jugadores</a>
            <a href="/nosotros">Sobre Nosotros</a>
            <a href="/formulario">Registro</a>
            <a href="/login">Ingresar</a>  
        </nav>
    </div>
    <input class="navegador" type="text" > -->
    </header>
    <!-- -----------------------BODY------------------------- -->
    <main id="Jugador">
        <section class="jugador-ind">
            <div class="jugadores">
                <article id="jugador-foto">
                    <img src="/images/ospina.jpg" width="350px" height="430px" alt="ospina">
                </div>
                <div class="caracteristicas-jugador">
                    <ul>
                        <li>Nombre Completo: Roque</li>
                        <br>
                        <li>Estatura: 1.80</li>
                        <br>
                        <li>Fecha de Nacimiento: 17/06/2010</li>
                        <br>
                        <li>Posición: Arquero</li>
                        <br>
                        <li>Perfil Dominante: Delantero</li>
                        <br>
                        <li>Características: Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nostrum commodi, a laborum recusandae similique, maiores aut eaque ab doloribus aliquid modi minus nobis quidem quasi ad minima suscipit. Quod.</li>
                    </ul>
                    <button type="submit"  class="button">Contactar!</button>
                    </div> 
                </article>
            </div>
        </section>
    </main>
        <!-- ---------------------FOOTER--------------------------- -->
        <footer>
            <%- include("parcial/footer.ejs")%>
    <!-- <div id="footer"> 
        <div id="redes">
            <a href="/"><img src="/images/futmanager_logo.png" width="120px" alt="Logo"></a>    
            
            <p><img src="/images/instagram.png" width="20px" height="20px" alt="Instagram" >Instagram</p>
            <p><img src="/images/linkedin.jpg" width="20px" height="20px"  alt="Linkedin" >Linkedin</p>
             <p><img src="/images/facebook.png" width="20px" height="20px" alt="Facebook" >Facebook</p>
           </div>
     </div> -->
   </footer>
   </body>
</html>
<!-- 
