<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>FutManager</title>
</head>
<body>
    <!-- --------------------HEADER------------------ -->
    <header>
    <a href="/"><img src="/images/futmanager_logo.png" alt="Logo"></a>
    <div>
        <nav> 
            <a href="/">Inicio</a>
            <a href="/producto">Jugadores</a>
            <a href="/nosotros">Sobre Nosotros</a>
            <a href="/formulario">Registro</a>
            <a href="/login">Ingresar</a>  
        </nav>
    </div>
    <input class="navegador" type="text" >
    </header>
    <main>
        <article  class="body">
            <div>
                <h1>Ingresa a tu Perfil</h1>
                <label id="email">E-mail</label><br>
                <input type="email"  id="email" name="email" required=""><br>
                <br>
                <label id="password">Contraseña</label><br>
                <input type="password"  id="password" name="password" required=""><br>      
                <br>
                <button type="submit"  class="ingresar">Ingresar</button></div>
            </article>
            </main>
    <footer>
        <a href="/"><img src="/images/futmanager_logo.png" alt="Logo"></a>
    <div class="redes">
        <p><img src="" alt="Instagram">Instagram</p>
        <p><img src="" alt="Linkedin">Linkedin</p>
        <p><img src="" alt="Facebook">Facebook</p>
    </div>
    </footer>
    </body>
</html>