
* {
    margin: 2px;
    padding: 2px;
  }

header {
    display: flex;
    flex: row;
    align-items: center;
    width: 100vw;
    background-color: grey;
}
header nav {
    padding-top: 30px;
    margin-left: 30px;
    padding-left: 50px;
}

header nav a{
    margin: 20px;
    border: solid 1px black;
}
header img{
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 20px
    ;
}
header div{
    display: flex;
    flex: row;
    box-sizing: border-box;
}
header input{
    height: 0.5px;
    width: 150px;
    padding-top: 30px;
    margin-top: 20px;
    text-align:center;
}

/* #formulario{
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: aqua; */
    /* } */ 
    #centrar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
    }
    #accion{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding:50px;
        margin: 20px;
       justify-content: center; 
       /* justify-content: space-between; */
       
       
        background-color: blue;
    }
    #select{
        display: flex;
        flex-direction: column;
        padding-right:40px;
        margin-left: 40px;
    }
    #textarea{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;

    }
    

   footer {
        /* display: flex;
        flex-direction: row; */
        background-color: rgb(190, 190, 190);   
   }

   #redes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
   }
    
    
    
    @media (max-width: 412px) {
        header {
            display: flex;
            flex-direction: column;
            width: 90vw;
            
            /* flex-wrap: wrap; */
          
        } 
        header nav a{
            display: flex;
            flex-direction: column;
           
            margin-right:100px ;

        }
        
         #footer{
            display: flex;
            flex-direction: column;
            align-items: center;

        } 
        
        #redes{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
     }   

    }

    @media (min-width: 412px )and (max-width:700px){
        
        header {
            display: flex;
            flex-direction: column;
            width: 90vw;
            
            /* flex-wrap: wrap; */
          
        } 
        header nav a{
            display: flex;
            flex-direction: column;
           
            margin-right:100px ;

        }
        
         #footer{
            display: flex;
            flex-direction: column;
            align-items: center;

        } 
        
        #redes{
            display: flex;
            flex-direction: column;
            justify-content: space-around;    
     }   

    }
    @media (min-width: 700px )and (max-width:1024px){
        header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
           }

    }


