/*------------ HEADER -------------- */
header {
    
    align-items: center;
    width: 100vw;
    display: flex;
    flex: row;
    background-color: grey;
}
header nav {

    padding-top: 30px;
    margin-left: 30px;
    padding-left: 50px;
}

header nav a{
    margin: 20px;
    border: solid 1px black;
}
header img{
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 20px
    ;
}
header div{
    display: flex;
    flex: row;
    box-sizing: border-box;
}
 header div input{
    height: 0.5px;
    width: 150px;
    padding-top: 30px;
    margin-top: 20px;
      position: absolute;
      top: 20px;
      right: 20px;
      text-align: center;
    /*  text-align:center;
    */
    } 

#noticias {
    display: flex;
    margin-top: 15px;
    background-color: red;
    padding: auto;
}

#image {
    margin-left: 400px;
    margin-top: 20px;
}

#fichajes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;

}
 

/*------------------ FOOTER ------------- */

footer {
    display: flex;
    background-color: rgb(190, 190, 190);
}

.redes {
    display: flex;
    flex-direction: row;
    margin: auto;
}
/* footer {
    display: flex;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    background-color: rgb(190, 190, 190);
} */


/* footer div{
    display: flex;
    padding-top: 30px;
    margin-left: 30px;
    padding-left: 50px; */
/* } */


/* ------------BODY---------------- */
main{
/* text-align: center; */
height:80vh;
text-align:center;
background-color: aqua;
display: flex; 
align-items:center;
justify-content: center;
}

main .login{
    width: 90%;
    height: 90%;
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px black;
}

main .login div{
    margin-left: 300px;
    margin-right: 300px;
    background-color: grey;
    box-shadow: 5px 5px 5px black;
    position: relative;
    top: 30%;
    font-size: larger;
}
main .login div .ingresar{
    font-size: larger;
}
.login div .ingresar:hover{
    background-color: blue;
    color: white;
}
