<footer>
    <div id="footer"> 
     <div id="redes">
          <a href="/"><img src="/images/futmanager_logo.png" width="120px" alt="Logo"></a>    
           
             <p><img src="/images/instagram.png" width="20px" height="20px" alt="Instagram" >Instagram</p>
             <p><img src="/images/linkedin.jpg" width="20px" height="20px"  alt="Linkedin" >Linkedin</p>
             <p><img src="/images/facebook.png" width="20px" height="20px" alt="Facebook" >Facebook</p>
           </div>
     </div>
   </footer>