<header>
    <a href="/"><img src="/images/futmanager_logo.png" alt="Logo"></a>
    <div>
        <nav> 
            <a href="/">Inicio</a>
            <a href="/producto">Jugadores</a>
            <a href="/nosotros">Sobre Nosotros</a>
            <a href="/formulario">Registro</a>
            <a href="/login">Ingresar</a>  
        </nav>
    </div>
    <input class="navegador" type="text" >
   </header>